<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to this CRM!</h1>
	<p>Main Menu</p>
	<u>
		<li><a href="/contacts">View all contacts</a></li>
		
	</u>
</body>
</html>