<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="/main.css">
	<title>My CRM</title>
</head>

<body>

	<div class="navigation">
		<ul>
			<li><a href="/contacts">View all contacts</a></li>
			<li><a href="/contacts/new">Add a contact</a></li>
			<li><a href="/contacts/edit">Edit a contact</a></li>
			<li><a href="/contacts/delete"> Delete a contact</a></li>
		</ul>
	</div>

	<div class="title">
		<h1> My Customer Relationship Application </h1>
	</div>

	<div class="jumbotron">
	
	</div>

</body>

<%= yield %>

</html>